/* src/styles/Home.css */

/* Sección de héroe (Hero) */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-image: url('../styles/imagenes/fondo.webp'); /* Imagen de fondo */
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Capa de superposición oscura */
  }
  
  .hero-text {
    position: relative;
    z-index: 2;
    text-align: center;
    color: #fff;
  }
  
  .hero-text h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    animation: fadeInDown 1s ease-out;
  }
  
  .hero-text p {
    font-size: 1.5rem;
    margin-bottom: 30px;
    animation: fadeInUp 1s ease-out;
  }
  
  .shop-now-btn {
    background-color: #f1bb1e;
    color: #204c84;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    animation: pulse 1.5s infinite;
  }
  
  .shop-now-btn:hover {
    background-color: #ffcc33;
    transform: scale(1.05);
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  /* Sección de productos */
  .products-section {
    padding: 50px 0;
    text-align: center;
  }
  
  .products-section h2 {
    font-size: 2.5rem;
    color: #204c84;
    margin-bottom: 30px;
  }
  
  .product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 0 20px;
  }
  
  /* Sección de contacto */
  .contact-section {
    padding: 50px 0;
    background-color: #f4f4f4;
  }
  
  .contact-section h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  /* Responsivo */
  @media (max-width: 768px) {
    .hero-text h1 {
      font-size: 2rem;
    }
  
    .hero-text p {
      font-size: 1.2rem;
    }
  
    .shop-now-btn {
      padding: 10px 20px;
      font-size: 1rem;
    }
  }
  